<div class="content">
	<div class="d-flex align-items-start flex-column flex-md-row">

		<!-- Left content -->
		<div class="tab-content w-100 order-2 order-md-1">
			<!-- Questions title -->
			<div class="text-center mb-3 py-2">
				<h4 class="font-weight-semibold mb-1">
					<%= module.ticmServices.language[page.lang].links_title%></h4>
				<span
					class="text-muted d-block"><%= module.ticmServices.language[page.lang].links_title_description%></span>
			</div>
			<!-- /questions title -->
			<div class="mb-3">
				<div class="row row-tile no-gutters">
					<div class="col-6">
						<a href="http://www.sitmun.ticmallorca.net/tic"
							target="_blank" role="button" class="btn btn-light btn-block btn-float m-0">
							<i><img src="/module/ticmServices/image/mapping/guium.png" width="60" height="60" alt=""></i>
							<span><%= module.ticmServices.language[page.lang].mapping_panel_links_1%></span>
						</a>

						<a href="http://www.idelma.net/" target="_blank" role="button"
							class="btn btn-light btn-block btn-float m-0">
							<i><img src="/module/ticmServices/image/mapping/idelma.png" width="60" height="60"  alt=""></i>
							<span><%= module.ticmServices.language[page.lang].mapping_panel_links_2%></span>
						</a>
					</div>

					<div class="col-6">
						<a href="http://www.sitmun.ticmallorca.net/visorSitmun/eiel.jsp" target="_blank" role="button"
							class="btn btn-light btn-block btn-float m-0">
							<i><img src="/module/ticmServices/image/mapping/eiel.jpg" width="60" height="60" alt=""></i>
							<span><%= module.ticmServices.language[page.lang].mapping_panel_links_3%></span>
						</a>
						<a href="http://www.sitmun.ticmallorca.net/adminSitmun/inicio.jsp" target="_blank" role="button"
							class="btn btn-light btn-block btn-float m-0">
							<i><img src="/module/ticmServices/image/mapping/sitmun.png" width="60" height="60"  alt=""></i>
							<span><%= module.ticmServices.language[page.lang].mapping_panel_links_4%></span>
						</a>
					</div>
				</div>
			</div>



			<div class="tab-pane fade active show" id="activity">

				<!-- Questions title -->
				<div class="text-center mb-3 py-2">
					<h4 class="font-weight-semibold mb-1">
						<%= module.ticmServices.language[page.lang].mapping_panel_faq%></h4>
					<span
						class="text-muted d-block"><%= module.ticmServices.language[page.lang].mapping_panel_faq_description%></span>
				</div>
				<!-- /questions title -->


				<!-- Inner container -->
				<div class="d-flex align-items-start flex-column flex-md-row">


					<div class="w-100 overflow-auto order-2 order-md-1">

						<!-- Questions list -->

						<!-- <div class="font-size-sm text-uppercase font-weight-semibold text-muted pt-2 mb-2">Selling and
							buying</div> -->
						<div id="accordion-group1">
							<div class="card mb-0 rounded-bottom-0">
								<div class="card-header">
									<h6 class="card-title">
										<a data-toggle="collapse" class="text-default" href="#accordion-item-group1"><i
												class="icon-help mr-2 text-slate"></i>Com puc actualitzar la informació de l’EIEL?</a>
									</h6>
								</div>

								<div id="accordion-item-group1" class="collapse" data-parent="#accordion-group1">
									<div class="card-body">
										Si comprovau que la informació que apareix al visor de l’EIEL del vostre municipi està desactualitzada, podeu pujar la informació correcte mitjançant l’eina per pujar informació. Recordau indicar sobre quina infraestructura fa referència. Si es tracte d’informació cartogràfica, admetem tot tipus de format: DWG, DGN, SHP, GML, KML etc.
									</div>
								</div>
							</div>

							<div class="card mb-0 rounded-0 border-y-0">
								<div class="card-header">
									<h6 class="card-title">
										<a class="collapsed text-default" data-toggle="collapse"
											href="#accordion-item-group2"><i class="icon-help mr-2 text-slate"></i>Quina eina puc usar per crear la meva cartografia?</a>
									</h6>
								</div>

								<div id="accordion-item-group2" class="collapse" data-parent="#accordion-group1">
									<div class="card-body">
										<p>Hi ha moltes eines que permeten crear cartografia. Hi ha eines CAD o GIS. Les eines GIS tenen l’avantatge que els objectes que digitalitzem (papereres, faroles, contenidors, etc.) poden emmagatzemar atributs: data d’alta, color, codi, empresa. Aquesta peculiaritat li dóna els GIS una gran potencialitat.</p>
										<p>Entre les eines GIS del mercat recomenam sense dubte el QGIS (www.qgis.org). A més de ser una eina gratuïta, ens permet crear, visualitzar, editar i analitzar cartografia digital. És perfecte per un usuari de perfil mitjà.</p>
										<p>QGIS és un Sistema d'Informació Geogràfica (SIG) de Codi Obert llicenciat sota GNU - General Public License. QGIS és un projecte oficial d'Open Source Geospatial Foundation (OSGeo). Funciona sobre Linux , Unix , Mac OSX , Windows i Android i suporta nombrosos formats i funcionalitats de dades vector , dades ràster i bases de dades.</p>

									</div>
								</div>
							</div>

							<div class="card mb-0 rounded-0 border-y-0">
								<div class="card-header">
									<h6 class="card-title">
										<a class="collapsed text-default" data-toggle="collapse"
											href="#accordion-item-group3"><i class="icon-help mr-2 text-slate"></i>
											Com carregar un WMS amb el QGIS?</a>
									</h6>
								</div>

								<div id="accordion-item-group3" class="collapse" data-parent="#accordion-group1">
									<div class="card-body">
										<p>Un servei WMS (Web Map Service) és un protocol o servei de consulta d'imatges georeferenciades de mapes a través de navegador web. Segons la Llei 14/2010, de 5 de juliol, sobre infraestructures i serveis geogràfics (LISIGE) les administracions han de publicar tota la informació geogràfica de la qual disposen segons les seves competències.</p>
										<br>
										<p>
											Iniciam el QGIS. Aneu a Capa – Afegir capa WMS/WTS. S'engegarà una finestra, on pitjarem Nova. A la següent finestra que s'obrirà, assignam un nom al servei que volem afegir, i l'URL que copiareu de la web que ofereix el WMS, i Acceptar. Si tot ha anat bé, podreu veure a sobre un desplegable amb el nom que li hem assignat al servei WMS. Pitjam a Connectar i ens apareixerà al quadre blanc les capes que conté el servei WMS. Seleccionam la capa que ens interessa visualitzar (si volem seleccionar diverses alhora, usem el punter i la tecla Control). A la part inferior de la finestra hi ha diverses opcions. Podem triar l'arxiu d'imatge que ens interessa, el sistema de referència i canviar el nom de la capa que apareixerà a l'arbre de les capes a la part esquerra de la pantalla. Si tot ha anat bé, ja podreu visualitzar el servei WMS al vostre QGIS.
										</p>
									</div>
								</div>
							</div>

							<div class="card rounded-top-0">
								<div class="card-header">
									<h6 class="card-title">
										<a class="collapsed text-default" data-toggle="collapse"
											href="#accordion-item-group4"><i class="icon-help mr-2 text-slate"></i>
											Puc carregar un arxiu CAD al QGIS?</a>
									</h6>
								</div>

								<div id="accordion-item-group4" class="collapse" data-parent="#accordion-group1">
									<div class="card-body">
										<p>Sí. El QGIS permet carregar arxius en DWG, DXF o DGN. Però s’ha de tenir en compte que al no ser formats nadius, es tracten de diferent manera que els SHP. Així, el QGIS ens separarà en diferents capes els punts, línies i polígons i els atributs seran el nivell, color, estil, etc.</p>
										<br>
										<p>Més informació: <a href="https://formagis.com/cad-gis-con-qgis/" target="_blank"> https://formagis.com/cad-gis-con-qgis/ </a> </p>
									</div>
								</div>
							</div>
						</div>

						<div class="card card-body">
							<div class="media align-items-center align-items-md-start flex-column flex-md-row">

								<div class="media-body text-center text-md-left">
									<h6 class="media-title font-weight-semibold"><i
											class="icon-help mr-2 text-slate"></i>¿No hemos podido responder a sus
										dudas?</h6>
									No hay ningún problema, estamos a su disposición para resolver su consulta. Ponte en
									contacto con nosotros mediante el 'Centro de Soporte'.
								</div>
							</div>
						</div>

						<!-- /questions list -->

					</div>


				</div>
				<!-- /inner container -->
			</div>
		</div>
		<!-- /left content -->

		<!-- Right sidebar component -->
		<div
			class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-right wmin-300 border-0 shadow-0 order-1 order-lg-2 sidebar-expand-md">


			<div class="sidebar-content">

				<div class="card">
					<div class="card-header bg-transparent header-elements-inline">
						<h6 class="card-title font-weight-semibold">
							<i class="icon-folder6 mr-2"></i>
							<%= module.ticmServices.language[page.lang].documentation_title%>
						</h6>
						<div class="header-elements">
							<div class="list-icons">
								<a class="list-icons-item" data-action="collapse"></a>
							</div>
						</div>

					</div>

					<div class="list-group list-group-flush">

						<a href="http://www.sitmun.ticmallorca.net/visorSitmun/documents/Manual2017.pdf" target="_blank"
							class="list-group-item list-group-item-action">
							<i class="icon-file-pdf mr-3"></i>
							Encuesta de Infraestructura y Equipamientos Locales
						</a>

						<a href="https://docs.qgis.org/3.4/pdf/es/QGIS-3.4-UserGuide-es.pdf" target="_blank"
							class="list-group-item list-group-item-action">
							<i class="icon-file-pdf mr-3"></i>
							QGIS, manual de usuario
						</a>

						<a href="http://www.sitmun.ticmallorca.net/visorSitmun/ayuda/ca.pdf" target="_blank"
							class="list-group-item list-group-item-action">
							<i class="icon-file-pdf mr-3"></i>
							SITMUN2, manual de usuario
						</a>

					</div>
				</div>
			</div>
			<!-- /sidebar content -->

		</div>
		<!-- /right sidebar component -->

	</div>
</div>