<li class="nav-item nav-item-submenu">
	<a href="<%= module.ticmServices.component.sideBar.link%>" class="nav-link"><i class="icon-stack"></i> <span><%=module.ticmServices.language[page.lang].sidebar_title%></span></a>

	<ul class="nav nav-group-sub" data-submenu-title="Starter kit" style="display: none;">
		<li class="nav-item"><a href="/ticmServices/training" class="nav-link"><%=module.ticmServices.language[page.lang].sidebar_titleTraining%></a></li>
		<li class="nav-item"><a href="/ticmServices/municipal-management" class="nav-link"><%=module.ticmServices.language[page.lang].sidebar_titleMunicipalManagement%></a></li>
		<li class="nav-item"><a href="/ticmServices/scm" class="nav-link"><%=module.ticmServices.language[page.lang].sidebar_titleSCM%></a></li>
		<!-- <li class="nav-item"><a href="/ticmServices/mapping" class="nav-link"><%=module.ticmServices.language[page.lang].sidebar_titleMapping%></a></li> -->
		<li class="nav-item nav-item-submenu">
			<a href="#" class="nav-link"><%=module.ticmServices.language[page.lang].sidebar_titleMapping%></a>
			<ul class="nav nav-group-sub" style="display: none;">
				<li class="nav-item"><a href="/ticmServices/mapping/eiel-management" class="nav-link">Gestión de EIEL</a></li>
				<li class="nav-item"><a href="/ticmServices/mapping/info" class="nav-link">Ayuda y documentación</a></li>
			</ul>
		</li>
		<li class="nav-item"><a href="/ticmServices/web" class="nav-link"><%=module.ticmServices.language[page.lang].sidebar_titleWeb%></a></li>
	</ul>
</li>

<!--

<div class="form-group row">
	<label class="col-form-label col-lg-2">Styled file input</label>
	<div class="col-lg-10">
		<input type="file" class="form-control-uniform" multiple data-show-upload="true" data-show-caption="true" data-fouc>
	</div>
</div> -->